name: Release Build

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Build with PowerShell
      run: .\build_exe.ps1

    - name: Upload Release Asset
      uses: softprops/action-gh-release@v2
      with:
        # Кавычки обязательны из-за пробелов в имени файла
        files: dist/*.exe